<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>CRUD Mission - Django</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <style>
        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            -webkit-transition: .5s;
            transition: .5s;
            outline: 0;
            font-family: 'Open Sans', serif;
        }
    </style>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("PersonManagement", []);

      //Controller Part
      app.controller("PersonManagementController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.Persons = [];

        $scope.form = {
          id: -1,
          name: "",
          surname: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST/PUT methods for add/edit Persons
        $scope.update = function () {
          var method = "";
          var url = "";
          var data = {};
          if ($scope.form.id == -1) {
            //Id is absent so add Persons - POST operation
            method = "POST";
            url = '/api/persons';
            data.name = $scope.form.name;
            data.surname = $scope.form.surname;
          } else {
            //If Id is present, it's edit operation - PUT operation
            method = "PUT";
            url = '/api/persons/' + $scope.form.id;
            data.name = $scope.form.name;
            data.surname = $scope.form.surname;
          }

          $http({
            method: method,
            url: url,
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        //HTTP DELETE- delete Person by id
        $scope.remove = function (Person) {
          $http({
            method: 'DELETE',
            url: '/api/persons/' + Person.id
          }).then(_success, _error);
        };

        //In case of edit Persons, populate form with Person data
        $scope.edit = function (Person) {
          $scope.form.name = Person.name;
          $scope.form.surname = Person.surname;
          $scope.form.id = Person.id;
        };

          /* Private Methods */
        //HTTP GET- get all Persons collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/api/persons'
          }).then(function successCallback(response) {
            $scope.Persons = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
          _clearForm()
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.name = "";
          $scope.form.surname = "";
          $scope.form.id = -1;
        }
      });
    </script>
</head>
<body ng-app="PersonManagement" ng-controller="PersonManagementController">

<div class="container">
    <h1>CRUD Mission - Django</h1>
    <p>This application demonstrates how a Django application implements a CRUD endpoint to manage Persons.
        This management interface invokes the CRUD service endpoint, which interacts with a database using Django ORM and several other well known libraries.
    </p>

    <h3>Add/Edit a Person</h3>
    <form ng-submit="update()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Name" ng-model="form.name" size="60"/></div>
            <div class="col-6"><input type="text" placeholder="SurName" ng-model="form.surname" size="60"/></div>
        </div>
        <input type="submit" value="Save"/>
    </form>

    <h3>Person List</h3>
      <div class="row">
          <div class="col-1">Id</div>
          <div class="col-2">Name</div>
          <div class="col-3">SurName</div>
      </div>
      <div class="row" ng-repeat="Person in Persons">
          <div class="col-1">{% verbatim %}{{ Person.id }}{% endverbatim %}</div>
          <div class="col-2">{% verbatim %}{{ Person.name }}{% endverbatim %}</div>
          <div class="col-3">{% verbatim %}{{ Person.surname }}{% endverbatim %}</div>
          <div class="col-8"><a ng-click="edit( Person )" class="btn">Edit</a> <a ng-click="remove( Person )" class="btn">Remove</a>
      </div>
    </div>
</div>

</body>
</html>
